*{
    font-family: raleway, sans-serif;
}
.header{
    height: 900px;
    background-image: url(../assets/historia-programacion.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
}
.barraNavegacion{   
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    box-sizing: border-box;
/*     z-index: 10000px; */
/* Me queda atras de las cartras cuando scrolleo */
    padding-right: 40px;
    padding-left: 40px;
    margin: 0;
    gap: 1400px;
    transition: all 2s;
}
.navScroll{
    background-color: white;
    color: black;

}
.linkNav{
    text-decoration-line: none;
    color: white;    
    width: 300px;
    text-transform: uppercase;    
    padding-right: 40px;
/*     padding-left: 40px; */
    font-size: 15px;
}
.barraNavegacion.navScroll .linkNav {
    color: black;
    text-shadow: 2px 2px 0px grey, 2px 2px white;
    font-weight: 500;
}
ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    text-shadow: 2px 2px 0px black, 2px 2px grey;
}
.historiaNav:hover{
    text-shadow: none;
}
.juguemosNav:hover{
    text-shadow: none;
}
h1{
    display: block;
    text-align: center;
    height: 60px;
    font-size: 54px;
    font-weight: 400;
    text-transform: uppercase;
    color: white;
    text-shadow: 4px 4px 0px black, 4px 4px grey;
}
svg{
    padding-left: 40px;
    width: 100px;
    height: 100px;
}
.cartaHistoria{
    display: flex;
    justify-content: space-between;
    perspective: 3000px;
    align-items: center;
    padding: 150px 100px;
    padding-bottom: 0;
    gap: 20px;
}
.textoCarta{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    opacity: 0;
}
.textoCarta>h2{
    font-size: 40px;
    text-align: center;
    color: #2F3645;
    text-shadow: 2px 2px 3px white, 3px 2px grey;
    font-weight: 500;
}
.imgCarta1{
    opacity: 0;
}
.aparicionImg1{
    animation: aparecer1 1s ease-in-out 1s forwards;
    opacity: 0;
}
@keyframes aparecer1 {
    from{
        transform: translateZ(400px) translateX(-400px) translateY(100px);
        opacity: 0;
    }
    to{
        transform: translateZ(0px) translateX(0px) translateY(0px);
        opacity: 1;
    }
}
.aparicionTexto1{
    animation: apareceTexto1 1s ease-in 1s forwards;
}
@keyframes apareceTexto1{
    from{
        transform:  translateZ(100px) translateX(100px) translateY(-100px)  rotateX(-30deg) rotateY(-10deg);
    }
    to{
        transform: translateZ(0px) translateX(0px) translateY(0px) rotateX(0) rotateY(0) rotateY(0);
        opacity: 1;
    }
}
#carta-2>img{
    width: 50%;
    opacity: 0;
}
.apareceImagen2{
    animation: aparecer2 1s ease-in-out 1s forwards;
    opacity: 0;
}
@keyframes aparecer2 {
    from{
        transform: translateZ(400px) translateX(600px) translateY(100px);
        opacity: 0;
    }
    to{
        transform: translateZ(0px) translateX(0px) translateY(0px);
        opacity: 1;
    }
}
.aparicionTexto2{
    animation: apareceTexto2 1s ease-in 1s forwards;
}
@keyframes aparicionTexto2 {
    from{
        transform:  translateZ(100px) translateX(100px) /* translateY(100px)  rotateX(30deg) rotateY(10deg) ; */
    }
    to{
        transform: translateZ(0px) translateX(0px) translateY(0px) rotateX(0) rotateY(0) rotateY(0);
        opacity: 1;
    }
}
.contenedorVideo{
    padding-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.contenedorVideo>h2{
    text-align: center;
    font-size: 40px;
    color: #2F3645;
    text-shadow: 2px 2px 3px white, 3px 2px grey;
    font-weight: 500;
}
#recuadroVideo{
    width: 70%;
    padding: 5px;
    background-color: #2F3645;
    margin-bottom: 100px;
}
#recuadroVideo>video{
    width: 100%;
    justify-content: center;
}
button{
    font-size: 25px;
    padding: 10px;
}
.inicio{
    background-color: green;
}
.pausa{
    background-color: red;
}
footer{
    background-color: #2F3645;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 200px;
    color: white;
}
.textoFooter{
    display: inline-block;
    text-transform: uppercase;
    justify-content: center;
    text-align: center;
    font-size: 15px;
    padding-left: 30px;
}
.logoFooter{
    width: 100px;
    height: 100px;
    display: inline-block;
    justify-content: center;
    padding-left: 70px;
}
.derechosFooter{
    padding-right: 70px;
}