*{
    font-family: raleway, sans-serif;
}
.header{
    height: 670px;
    background-size: cover;
    background-image: url(../assets/img2.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
}
.barraNavegacion{   
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    box-sizing: border-box;
    padding-right: 40px;
    padding-left: 40px;
    margin: 0;
    gap: 1400px;
    transition: all 2s;
}
.navScroll{
    background-color: white;
    color: black;

}
.linkNav{
    text-decoration-line: none;
    color: white;    
    width: 300px;
    text-transform: uppercase;    
    padding-right: 40px;
/*     padding-left: 40px; */
    font-size: 15px;
}
.barraNavegacion.navScroll .linkNav {
    color: black;
    text-shadow: 2px 2px 0px grey, 2px 2px white;
    font-weight: 500;
}
ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    text-shadow: 2px 2px 0px black, 2px 2px grey;
}
.historiaNav:hover{
    text-shadow: none;
}
.juguemosNav:hover{
    text-shadow: none;
}
h1{
    display: block;
    text-align: center;
    height: 60px;
    font-size: 54px;
    font-weight: 400;
    text-transform: uppercase;
    color: white;
    text-shadow: 4px 4px 0px black, 4px 4px grey;
}
svg{
    padding-left: 40px;
    width: 100px;
    height: 100px;
}
h2{
    text-align: center;
    padding: 40px;
    font-size: 40px;
    color: #2F3645;
    text-shadow: 2px 2px 3px white, 3px 2px grey;
    font-weight: 500;
}
.contenedorPadre{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
}
.cajas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.contenedor{
    width: 200px ;
    height: 370px;
    background-color: #797979;
    border: solid black 2px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgRompe{
    width: 200px;
    height: 370px;
}
#img2{
    padding-right: 20px;
    transform: rotate(8deg);
}
#img1{
    padding-left: 20px;
    transform: rotate(-10deg);
}
.abajoContenedor{
    display: flex;
    align-items: center;
    justify-content: center;
}
#img3{
    transform: rotate(92deg);
}
